<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="assets/images/shopping-rafiki.svg" alt="Image" class="img-fluid" width="500px" height="500px">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Sign In to <strong>Store Nouhaila</strong></h3>
              <p class="mb-4">We're excited to have you back! Log in to access your account, track your orders, and explore the latest products and exclusive offers tailored just for you.</p>
            </div>
            <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
              <div class="form-floating">
                <input type="text" class="form-control" id="username" formControlName="username" >
                <label for="username">Username</label>
              </div>
              <br>
              <div class="form-floating mb-4">
                <input type="password" class="form-control" id="password" formControlName="password">
                <label for="password">Password</label>
              </div>
              <div class="d-flex mb-5 align-items-center">
                <label class="control control--checkbox mb-0"><span class="caption">Remember me</span>
                  <input type="checkbox" checked="checked"/>
                  <div class="control__indicator"></div>
                </label>
              </div>
              <div class="d-flex mb-5 align-items-center"><span class="ml-auto"><a href="#" class="forgot-pass link-info">Forgot Password</a></span></div>
              <button [disabled]="loginForm.invalid" class="btn btn-primary"> Log in </button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

