<div class="container">
  <h2>New Product</h2>
  <form (submit)="save()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description" required></textarea>
    </div>
    <div class="form-group">
      <div>
        <label class="form-label" for="customFile">Image : </label>
        <input type="file" class="form-control" id="customFile" (change)="onFileSelected($event)" accept="image/*" required/>
        <p *ngIf="selectedFileName">{{ selectedFileName }}</p>
      </div>
    </div>
    <div class="form-group">
      <label for="category">Category:</label>
      <select class="form-control" id="category" [(ngModel)]="product.category" name="category" required>
        <option value="" disabled selected>Select Category</option>
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="promotion" [(ngModel)]="product.promotion" name="promotion">
      <label class="form-check-label" for="promotion">Promotion</label>
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="available" [(ngModel)]="product.available" name="available">
      <label class="form-check-label" for="available">Available</label>
    </div>
    <div class="form-group">
      <label for="stock">Stock:</label>
      <input type="number" class="form-control" id="stock" [(ngModel)]="product.stock" name="stock" required>
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!product.name || !product.description || !product.stock || !product.price || !product.image || !product.category">
      Save
    </button>
  </form>
</div>
