<h1 *ngIf="carts">Not delivered Carts</h1>
<div class="card p-3 my-3" *ngFor="let cart of carts.reverse()">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <div>
      <div class="d-flex justify-content-between">
        <span class="d-block"><strong>Cart ID:</strong> {{ cart.id }}</span>
        <span class="badge" [ngClass]="{'bg-success': cart.delivered, 'bg-danger': !cart.delivered}">
            {{ cart.delivered ? 'delivered' : 'not delivered'}}
        </span>
      </div>
      <div class="mt-2">
        <strong>Date:</strong> {{ cart.createdAt | date: 'dd MMMM yyyy' }}
      </div>
      <div class="mt-2">
        <strong>User ID:</strong> {{ cart.userId }}
      </div>
    </div>
    <div>
      <button class="btn btn-outline-danger" (click)="delivery(cart)">Delivery</button>
    </div>
  </div>
  <hr>
  <div>
    <strong> Total : </strong> {{ cart.total }} MAD
    <span class="badge" [ngClass]="{'bg-success': cart.status, 'bg-danger': !cart.status}">
      {{ cart.status ? 'Paid' : 'Unpaid'}}
    </span>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6 mb-3" *ngFor="let item of cart.cartItems">
      <div class="d-flex">
        <img [src]="item.product.image" class="w-25 rounded me-3" alt="{{ item.product.name }}">
        <div>
          <h4>{{ item.product.name }}</h4>
          <p>x {{ item.quantity }} = {{ item.price }} MAD</p>
        </div>
      </div>
    </div>
  </div>
</div>
