<!-- Product section-->
<section class="py-2">
  <div class="container px-4 px-lg-5 my-3">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6">
        <img class="card-img-top mb-5 mb-md-0 w-75" [src]="product.image" alt="{{ product.name }}" />
      </div>
      <div class="col-md-6">
        <h1 class="display-5 fw-bolder p-2">{{ product.name }}</h1>
        <div class="fs-5 mb-2">
          <span *ngIf="product.promotion" class="text-danger fw-bold">{{ product.price}} MAD</span> <br>
          <span *ngIf="product.promotion" class="text-decoration-line-through small">{{ product.price + 1000 }} MAD</span>
          <span *ngIf="!product.promotion">  {{ product.price }} MAD</span>
          <div class="mask" style="height: 50px;" *ngIf="product.promotion">
            <div class="d-flex justify-content-start align-items-start h-100 m-2">
              <h6><span class="badge bg-danger pt-1">Promotion</span></h6>
            </div>
          </div>
        </div>
        <p class="lead">{{ product.description }}</p>
        <div class="d-flex">
          <input class="form-control text-center me-3" id="inputQuantity" type="number" min="0" [max]="product.stock" style="max-width: 5rem" placeholder="0" [(ngModel)]="quantity"/>
          <button class="btn btn-outline-dark flex-shrink-0" type="button" (click)="addToCart()" [disabled]="!product.available || this.product.stock<1 || quantity < 1">
            <i class="bi-cart-fill me-1"></i>
            Add to cart
          </button>
        </div>
        <div class="mt-2">
          <span *ngIf="product.stock > 0" class="text-success">In stock: {{ product.stock }}</span>
          <span *ngIf="product.stock === 0" class="text-danger">Out of stock</span>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Related items section-->
<section class="py-5 bg-light" *ngIf="products.length > 0">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" *ngFor="let product of products">
        <div class="card h-100" routerLink="/layout/product" [queryParams]="{id : product.id}">
          <!-- Product image-->
          <img class="card-img-top" [src]="product.image" alt="..." />
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder">{{ product.name }}</h5>
              <!-- Product price-->
              {{ product.price }} MAD
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
